* {
    font-family: 'Lora', serif;
}

body {
    background-color: rgb(36, 37, 55, 1);
    
    
    
}

.height {
    height: 2000px;
}

.nav-color {
    /* background: linear-gradient(180deg, rgb(36, 37, 55, 1), rgb(36, 37, 55, 0.9)); */
    background-color: transparent;
}

a {
    color: white;
}

.nav-link {
    color: white;
    
}

.head-img {
    background: linear-gradient(0deg, rgb(36, 37, 55, 0.5), rgb(36, 37, 55, 1)), url(./media/foto-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.title-head {
    font-size: 5vh;
}

.p-head {
    font-size: 4vh;
}

.p-head2 {
    font-size: 3vh;
}

.p-cust {
    border-bottom: solid 2px white;
    position: relative;
    padding-bottom: 10px;
    
    
}

.p-cust:hover {
    border-bottom: solid 2px #EF5860;
    position: relative;
    padding-bottom: 10px;
    color: #EF5860 !important;
    transition: 1s;
    
}



.btn-cust {
    /* border: 1px solid #EF5860;
    border-radius: 50%; */
    color: white;
    /* background-color: rgb(36, 37, 55, 0.6); */
    padding: 10px;
    transition: 0.5s;
    
}

.btn-cust:hover {
    /* border: 1px solid #EF5860;
    border-radius: 70%; */
    color: white;
    /* background-color: rgb(36, 37, 55, 0.6); */
    transition: 0.5s;
    font-size: 3vh;
}

.bg-cust {
    background-color: rgb(36, 37, 55, 1)
}



.shadow-cust {
        box-shadow: 1px 1px 0px #999,
                    2px 2px 0px #999,
                    3px 3px 0px #999,
                    4px 4px 0px #999,
                    5px 5px 0px #999,
                    6px 6px 0px #999;
    
}

.nav-link:hover {
    color: #EF5860;
}

.linkedin {
    background-color: #0082ca;
}

.gitlab {
    background-color: #380d75;
}

.dropdown-menu {
    background-color: rgb(19, 19, 34) ;
    border: 1px solid #EF5860;
}

.drop-item-cust{
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }






@media screen and (max-width:760px) {
    .img-cust {
        height: 200px;
        width: 150px;
    }
   
}